<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Networks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Networks.Properties.Settings>
            <setting name="Configured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaterPipeLayerName" serializeAs="String">
                <value>Водопроводы</value>
            </setting>
            <setting name="SewerLayerName" serializeAs="String">
                <value>Канализации</value>
            </setting>
            <setting name="HeatingNetworkLayerName" serializeAs="String">
                <value>Теплосети</value>
            </setting>
            <setting name="CommunicationCableLayerName" serializeAs="String">
                <value>Линия_связи</value>
            </setting>
            <setting name="PowerCableLayerName" serializeAs="String">
                <value>Кабели низкого напряжения</value>
            </setting>
            <setting name="AllowIntersection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GasPipeLayerName" serializeAs="String">
                <value>Газопроводы</value>
            </setting>
            <setting name="BuildingsFoundationLayerName" serializeAs="String">
                <value>Фундамент</value>
            </setting>
            <setting name="StreetSideStoneLayerName" serializeAs="String">
                <value>Бортовой камень</value>
            </setting>
            <setting name="ExternalEdgeLayerName" serializeAs="String">
                <value>Наружная бровка</value>
            </setting>
            <setting name="HvlSupportsFoundation1LayerName" serializeAs="String">
                <value>Опора ВЛ до 1 кВ</value>
            </setting>
            <setting name="HvlSupportsFoundation35LayerName" serializeAs="String">
                <value>Опора ВЛ от 1кВ до 35 кВ</value>
            </setting>
            <setting name="HvlSupportsFoundationOverLayerName" serializeAs="String">
                <value>Опора ВЛ от 35кВ</value>
            </setting>
            <setting name="RedLineLayerName" serializeAs="String">
                <value>Красные линии</value>
            </setting>
        </Networks.Properties.Settings>
    </userSettings>
</configuration>